
<form action="/students" method="post">
  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name">

  <label for="second-name">Second Name:</label>
  <input type="text" name="second_name" id="second-name">

  <label for="house-select">Select House</label>
  <select id="house-select" name="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherin">Slytherin</option>
  </select>

  <label for="age">Age:</label>
  <input type="number" name="age" value="age">

  <input type="submit" value="Add Student">


</form>
